 /*cabeçalho*/
 
 header{
background-color: rgb(0, 17, 94);
color: rgb(255, 255, 255);
padding: 3%;
text-align: center;
}
 footer{
background-color: rgb(0, 17, 94);
color: rgb(255, 255, 255);
padding: 2em;
text-align: center;
}
div{
    text-align: center;
    
}